{{define "footer"}}
	<footer class="footer">
	<div class="container">
	<span class="text-muted">show me the memony.</span>
	</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
	<script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-min.js"><\/script>')</script>

	<script src="https://v4.bootcss.com/assets/js/vendor/popper.min.js"></script>
	<script src="https://v4.bootcss.com/dist/js/bootstrap.min.js"></script>
	<script src="static/js/bootstrap-select.js"></script>
	<script>
	
	$(function(){
		var sitesMap = new Map();
		$.getJSON('/sites',{'content_type':'json'},function(data) {
		//console.log(data );
		data.forEach(function(db){
			sitesMap.set(db.Id,db)
			$('#site_show').after('<a class="dropdown-item edit_site" data-id="'+db.Id+'" href="#" role="button" data-toggle="modal" data-target="#exampleModal">'+db.name+'</a>');
			//console.log(db.name );
		})
			
		});
		$("#save").click(function(){
		    //alert($("#site_edit").serialize());
		    $.post("/form_post",$("#site_edit").serialize(),
		    function(data,status){
		      alert("状态：" + status);
		      location.reload();
		      //window.location.href="/"
		    });
		 });
		$('.edit_site').on('show.bs.modal', function (event) {
			var modal = $(this);
			db =sitesMap.get( $(event.relatedTarget).data('id'));
			var card = $('#col'+db.Id);
			modal.find('#id').val(db.Id);
			modal.find('#addr').val(db.addr);
			modal.find('#name').val(db.name);
			modal.find('#page').val(db.page);
			modal.find('#pcount').val(db.pcount);
			modal.find('#raw').val(db.raw);
			modal.find('#datetext').val(db.datetext);
			modal.find('#dateformat').val(db.dateformat);
			modal.find('#urltext').val(db.urltext); 
			modal.find('#titletext').val(db.titletext); 
		})
	});
	</script>
	<div class="modal fade bd-example-modal-lg"  id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
		<form  >
		<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Search</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
		    <div class="form-row">
		        <div class="input-group col-md-6   form-control-sm">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="">begin</span>
			  </div>
			  <input type="date" id="begin"  class="form-control">
			</div>

			<div class="input-group col-md-6   form-control-sm">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="">end</span>
			  </div>
			  <input type="date" id="end"  class="form-control">
			</div>
		    </div>
		</div>
		<div class="modal-footer form-inline">
		  <div class="form-group">		    
		    <select class="form-control" id="exampleFormControlSelect1">
			<option selected value=1 >or</option>
		      	<option value=2 >and</option>
		    </select>
		  </div> 
		<div class="form-group">
		  <select class="selectpicker" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
		    <optgroup label="filter1">
		      <option>option1</option>
		      <option>option2</option>
		      <option>option3</option>
		      <option>option4</option>
		    </optgroup>
		    <optgroup label="filter2">
		      <option>option1</option>
		      <option>option2</option>
		      <option>option3</option>
		      <option>option4</option>
		    </optgroup>
		    <optgroup label="filter3">
		      <option>option1</option>
		      <option>option2</option>
		      <option>option3</option>
		      <option>option4</option>
		    </optgroup>
		  </select>
		</div>

		<div class="input-group">
		  <input type="text" class="form-control" placeholder="Search" name="q">

		  <div class="input-group-btn">
		    <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
		  </div>
		</div>

	    </div>
	   </form>
	  </div>
	</div>
	</div>


	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">site info</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	      </div>
	      <div class="modal-body">	
		<form id="site_edit">
		  <div class="form-group">
		    <input class="form-control" type="text" id="name" name="name" placeholder="site name">
		  </div>
		  <div class="form-group">
		    <input class="form-control" type="text" id="addr" name="addr" placeholder="http://www.ccgp-sichuan.gov.cn/CmsNewsController.do?page=1">
		  </div>
		  <div class="form-group">
		    <input class="form-control" type="text" id="page" name="page" placeholder="page">
		  </div>
	          <div class="form-group">
		    <input class="form-control" type="text" id="pcount" name="pcount" placeholder="360">
		  </div>
		  <div class="form-group">
		    <input class="form-control" type="text" id="raw" name="raw" placeholder=".list-info .info li">
		  </div>
		  <div class="form-group">
		    <input class="form-control" type="text" id="datetext" name="date_text" placeholder=".time.curr|text">
		  </div>
		  <div class="form-group">
		    <input class="form-control" type="text" id="dateformat" name="date_format" placeholder="022006-01">
		  </div>
		  <div class="form-group">
		    <input class="form-control" type="text" id="urltext" name="url_text" placeholder="a|href">
		  </div>		
		  <div class="form-group">
		    <input class="form-control" type="text" id="titletext" name="title_text" placeholder="a .title|text">
		  </div>
		  <input type="hidden" id="id" name="id" value="0" >
		</form>
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" id="save">Save</button>
	      </div>
	    </div>
	  </div>
	</div>
{{end}}
