{{define "footer"}}
	<footer class="footer">
	<div class="container">
	<span class="text-muted">show me the memony.</span>
	</div>
	</footer>

	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
	<script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-min.js"><\/script>')</script>

	<script src="https://v4.bootcss.com/assets/js/vendor/popper.min.js"></script>
	<script src="https://v4.bootcss.com/dist/js/bootstrap.min.js"></script>
	<script src="static/js/bootstrap-select.js"></script>
	
	<div class="modal fade bd-example-modal-lg"  id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
		<form id="search_form" action="/" method="get" >
		<input type="hidden" name="limit" id="limit"  value=20>
		<input type="hidden" name="offset" id="offset"  value=0 >
		<input type="hidden" name="begin" id="beginDate" value=0>
		<input type="hidden" name="end"  id="endDate"  value=0 >
		<div class="modal-header">
		<div class="form-group">
		  <select class="selectpicker" id="siteselect" name="site" multiple data-live-search="true" data-live-search-placeholder="Search" >	
		  </select>
		</div>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
		    <div class="form-row">
		        <div class="input-group col-md-6   form-control-sm">
			  <div class="input-group-prepend">
			    <span class="input-group-text" >begin</span>
			  </div>
			  <input type="date" id="begin" class="form-control">
			</div>

			<div class="input-group col-md-6   form-control-sm">
			  <div class="input-group-prepend">
			    <span class="input-group-text"  >end</span>
			  </div>
			  <input type="date" id="end" class="form-control" >
			</div>
		    </div>
		</div>
		<div class="modal-footer form-inline">
		<div class="form-group">
		  <select class="selectpicker" multiple data-live-search="true" data-live-search-placeholder="Search" name="tag">		    
		      <option>option1</option>
		      <option>option2</option>
		      <option>option3</option>
		      <option>option4</option>		     
		  </select>
		</div>

		<div class="input-group">
		  <input type="text" class="form-control" placeholder="Search" name="key">

		  <div class="input-group-btn">
		    <button class="btn btn-dark" id="submit_button" ><i class="fa fa-search"></i></button>
		  </div>
		  <div class="input-group-btn">
		    <a class="btn btn-light" id="download_button" download="downlaod.csv" href="#" ><i class="fa fa-download"></i></a>
		  </div>

		</div>	

	    </div>
	   </form>
	  </div>
	</div>
	</div>


	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">site info</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	      </div>
	      <div class="modal-body">	
		<form id="site_edit">
		  <div class="form-group">
		    <input class="form-control" type="text" id="name" name="name" placeholder="site name">
		  </div>
		  <div class="form-group">
		    <input class="form-control" type="text" id="addr" name="addr" placeholder="http://www.ccgp-sichuan.gov.cn/CmsNewsController.do?page=1">
		  </div>
		  <div class="form-group">
		    <input class="form-control" type="text" id="page" name="page" placeholder="page">
		  </div>
	          <div class="form-group">
		    <input class="form-control" type="text" id="pcount" name="pcount" placeholder="360">
		  </div>
		  <div class="form-group">
		    <input class="form-control" type="text" id="raw" name="raw" placeholder=".list-info .info li">
		  </div>
		  <div class="form-group">
		    <input class="form-control" type="text" id="datetext" name="date_text" placeholder=".time.curr|text">
		  </div>
		  <div class="form-group">
		    <input class="form-control" type="text" id="dateformat" name="date_format" placeholder="022006-01">
		  </div>
		  <div class="form-group">
		    <input class="form-control" type="text" id="urltext" name="url_text" placeholder="a|href">
		  </div>		
		  <div class="form-group">
		    <input class="form-control" type="text" id="titletext" name="title_text" placeholder="a .title|text">
		  </div>
		  <input type="hidden" id="id" name="id" value="0" >
		</form>
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" id="save">Save</button>
	      </div>
	    </div>
	  </div>
	</div>
<script>
	function RequestHand(str){
		var theRequest = new Map();                  
		str.split("&").forEach(function(_s){
		    [k,v] = _s.split("=");
		    if (!v){
			return;
		    }
		    _req = theRequest[k];
		    if (_req){
			theRequest[k] = [_req,unescape(v)];
		    }else{
		        theRequest[k] = unescape(v);
		    }
		});	
		var be = theRequest['begin'];
		var en = theRequest['end'];
		$('#beginDate').val(be);
		$('#endDate').val(en);
		if (be>0){
			$('#begin').val((new Date($('#beginDate').val()*1000)).format("yyyy-MM-dd"));
		}
		if (en>0){
			$('#end').val((new Date($('#endDate').val()*1000)).format("yyyy-MM-dd"));
		}			       
		return theRequest;
	}
	var UrlRequest =  function(){
		str = location.search.substr(1);
		if (str) {
                	return RequestHand(str)
		}
        }()
	function show(Req,callback){		
		$.ajax({url:'/show',
			async:false,
			data:Req,
			dataType:'json',
			success:function(data) {			
				if (callback(data)){
					show(Req,callback);
				}
			}
		});
	}
	//var UrlRequest = getUrlRequest();
	Date.prototype.format = function(format) {
		var date = { "M+": this.getMonth() + 1, "d+": this.getDate(), "h+": this.getHours(), "m+": this.getMinutes(), "s+": this.getSeconds(), "q+": Math.floor((this.getMonth() + 3) / 3), "S+": this.getMilliseconds() }; 
		if (/(y+)/i.test(format)) { 
			format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
		} 
		for (var k in date) { 
			if (new RegExp("(" + k + ")").test(format)) { 
				format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
			} 
		} 
		return format; 
	}
	$(function(){


	
		//console.log(getUrlVal('site') );
		var sitesMap = new Map();
		$.getJSON('/sites',{'content_type':'json'},function(data) {
			data.forEach(function(db){
				sitesMap.set(db.Id,db)
				$('#site_show').after('<a class="dropdown-item edit_site" data-id="'+db.Id+'" href="#" role="button" data-toggle="modal" data-target="#exampleModal">'+db.name+'</a>');				
				$('#siteselect').append('<option value='+db.Id+'>'+db.name+'</option>'); 				
			})
			 
			$('#siteselect').selectpicker('val',UrlRequest['site']);
			 
			$('#siteselect').selectpicker('refresh');
			
		});
		//$('#siteselect').selectpicker('refresh');
		//$('#siteselect').selectpicker('val', 1);
		$("#save").click(function(){
		    //alert($("#site_edit").serialize());
		    $.post("/form_post",$("#site_edit").serialize(),
		    function(data,status){
		      alert("状态：" + status);
		      location.reload();
		      //window.location.href="/"
		    });
		 });
		$('.edit_site').on('show.bs.modal', function (event) {
			var modal = $(this);
			db =sitesMap.get( $(event.relatedTarget).data('id'));
			var card = $('#col'+db.Id);
			modal.find('#id').val(db.Id);
			modal.find('#addr').val(db.addr);
			modal.find('#name').val(db.name);
			modal.find('#page').val(db.page);
			modal.find('#pcount').val(db.pcount);
			modal.find('#raw').val(db.raw);
			modal.find('#datetext').val(db.datetext);
			modal.find('#dateformat').val(db.dateformat);
			modal.find('#urltext').val(db.urltext); 
			modal.find('#titletext').val(db.titletext); 
		})
		//$("#search_form").submit(function(e){
			//console.log($("#search_form").serialize());
			//$("#site_edit").serialize()
		  	//alert("Submitted");
		//});
		$("#submit_button").click(function(){
			var begin = $("#begin").val();
			if (begin){
				$('#beginDate').val((new Date(begin.split("-"))).getTime()/1000);
			}else{
				$('#beginDate').val(0);
			}
			var end = $("#end").val();
			if (end){
				$('#endDate').val((new Date(end.split("-"))).getTime()/1000);
			}else{
				$('#endDate').val(0);
			}
			$('#offset').val(0);
			//alert($("#search_form").serialize());
    			$("#search_form").submit();
  		});
		$("#download_button").click(function(){
			var BOM = '\uFEFF';
			Req = RequestHand($("#search_form").serialize());
			//alert($("#search_form").serialize());
			Req['offset']=0;
			var file_str = 'data:text/csv;charset=utf-8,'+BOM;
			
			show(Req,function(data){
				en = data.ens;
				if (!en){
					
					return false;
				}
				en.forEach(function(db){
					file_str += encodeURIComponent((new Date(db.baseTime*1000)).toLocaleDateString()+','+db.title+','+db.url+'\n');
					//this.href = (encodeURIComponent(db.title)+','+db.url);
					Req['offset']++;
				});
				
				return true;
			});
			this.href = file_str;
			//alert(Req['offset']);
			
		});
	
		//$('#limit').val(UrlRequest['limit']);
		//$('#offset').val(UrlRequest['offset']);
	});

 
	</script>
	
{{end}}
