{{define "index.tmpl"}}
<!doctype html>
<html lang="en">
<head>
{{template "head" .}}
</head>
<body>
{{template "top" .}}
<!-- Begin page content -->
 
<main role="main" class="container">
<div class="container" id="con">	

<div class="table-responsive-sm">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">date</th>
      <th scope="col">title</th>
      <th scope="col">tag</th>
    </tr>
  </thead>
  <tbody id="entrylist"> 
  
  </tbody>
</table>
	
</div>
 
</div>	    
</main>
{{template "footer" .}}


<script>
function GetDB(){
	if (!UrlRequest){
		UrlRequest =RequestHand($("#search_form").serialize());
	}
	//console.log(UrlRequest)
	$.getJSON('/show',UrlRequest,function(data) {
		//console.log(data );
		var count = $('#offset').val();
		data.ens.forEach(function(db){
			var date = new Date(db.baseTime*1000)
			$('#entrylist').append('<tr><th scope="row">'+date.toLocaleDateString()+'</th><td><a target="_BLANK" href="'+db.url+'">'+db.title+'</a></td><td></td></tr>');
			count++;
		});
		$('#offset').val(count);
	});
}


$(function(){
	GetDB();
	$(window).scroll(function() {
		if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
			UrlRequest =RequestHand($("#search_form").serialize());
			GetDB();		
		}
	});

 });
</script>

</body>
</html>
{{end}}
