{{define "index.tmpl"}}
<!doctype html>
<html lang="en">
<head>
{{template "head" .}}
</head>
<body>
{{template "top" .}}
<!-- Begin page content -->
 
<main role="main" class="container">
<div class="container" id="con">	

<div class="table-responsive-sm">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">date</th>
      <th scope="col">title</th>
      <th scope="col">tag</th>
    </tr>
  </thead>
  <tbody id="entrylist"> 
  
  </tbody>
</table>	
</div>
 
</div>	    
</main>
{{template "footer" .}}


<script>
function GetDB(limit,offset){
	$.getJSON('/show',{'content_type':'json','limit':limit,'offset':offset},function(data) {
		console.log(data );
		data.ens.forEach(function(db){
			var date = new Date(db.baseTime*1000)
			$('#entrylist').append('<tr><th scope="row">'+date.toLocaleDateString()+'</th><td><a target="_BLANK" href="'+db.url+'">'+db.title+'</a></td><td></td></tr>');
		});
	});
}


$(function(){


	//$('header nav #navbarCollapse').append($('#search').html());
	//$('#search').remove(); 
	GetDB(20,0);
 });
</script>

</body>
</html>
{{end}}
