{{define "show.tmpl"}}
<!doctype html>
<html lang="en">
{{template "head" .}}
<body>
{{template "top" .}}
<!-- Begin page content -->
<main role="main" class="container">
<div class="container" id="con">	
<h4> search </h4>
<div class="table-responsive-sm">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">date</th>
      <th scope="col">title</th>
      <th scope="col">url</th>
    </tr>
  </thead>
  <tbody id="rundb"> 
  </tbody>
</table>	
</div>
 
</div>	    
</main>
{{template "footer" .}}
<script>
function GetDB(){
	$.getJSON('/show?content_type=json',function(data) {	
		data.forEach(function(db){

		});
	});
}


$(function(){
	GetDB();
 });
</script>

</body>
</html>
{{end}}
