{{define "top"}}
    <header class="fixed-top">
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">main</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
	      <li class="nav-item dropdown">
		<a role="button" href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Site
		  </a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		    <a class="dropdown-item" href="/sites">show</a>
		    <a class="dropdown-item" href="#" role="button"  data-toggle="modal" data-target="#exampleModal">add</a>		    
		    <div class="dropdown-divider" id="site_show"></div>		    
		</div>
	      </li>
	      <li class="nav-item">
		<a class="nav-link" href="#" role="button" data-toggle="modal" data-target="#searchModal" >
		  search
		</a>
	      </li>
          </ul>
        </div>
      </nav>
    </header>
{{end}}
